<% provide :title, t("about.title") %>
<div class="container" id="container-margin">
  <div class="col-lg-4 col-sm-6 text-center">
    <h3><%= t "Le Duy Khanh" %>
      <small>
        <a class="label label-info"><%= t "Leader" %></a>
        </small>
    </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <h3><%= t "Nguyen Tien Dung" %>
      <small>
        <a class="label label-info"><%= t "Member" %></a>
      </small>
    </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <h3><%= t "Tran Hoang Long" %>
      <small>
        <a class="label label-info"><%= t "Member" %></a>
      </small>
    </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <h3><%= t "Trinh Kien" %>
      <small>
        <a class="label label-info"><%= t "Member" %></a>
      </small>
    </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <h3><%= t "Le Van Nam" %>
      <small>
        <a class="label label-info"><%= t "Member" %></a>
      </small>
    </h3>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <h3><%= t "Nguyen Dinh Hoat" %>
      <small>
        <a class="label label-info"><%= t "Member" %></a>
      </small>
    </h3>
  </div>
</div>
