<script type="text/javascript" src="http://movies.ndtv.com/static/js/ndtv.min.js?v=20160928"></script>
<div class="container ndmv-main-container">
   <div class="row">
      <div class="ndmv-left-wrapper col-md-12 col-sm-12">
         <div class="ndmv-celeb-filter-wrapper">
         </div>
         <h3>Newest Movie</h3>
         <ul class="ndmv-celeb-list">
            <% @movies.each do |movie| %>
            <li>
               <div class="ndmv-celeb-blk ndmv-greybg">
                  <div class="ndmv-common-img-wrapper"><%= image_tag movie.image %></div>
                  <div class="ndmv-review-title">
                     <h4><%= link_to movie.name, movie_path(movie.id) %></a></h4>
                     <h5>Hindi / 
                        <% movie.genres.each do |genre| %>
                        <%= genre.name %>
                        <% end %>
                     </h5>
                     <% @count = movie.rates.average :vote %>
                     <div class="ndmv-movie-rating">
                         <% if @count.nil? %>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (@count < 0.5) %>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (0.5 <= @count && @count < 1) %>
                            <span class="rating-half"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (1 <= @count && @count < 1.5) %>
                            <span class="rating-full"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (1.5 <= @count && @count < 2) %>
                            <span class="rating-full"></span>
                            <span class="rating-half"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                          <% elsif (2 <= @count && @count < 2.5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (2.5 <= @count && @count < 3) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-half"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                         <% elsif (3 <= @count && @count < 3.5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (3.5 <= @count && @count < 4) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-half"></span>
                            <span class="rating-null"></span>
                        <% elsif (4 <= @count && @count < 4.5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-null"></span>
                        <% elsif (4.5 <= @count && @count < 5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-half"></span>
                        <% elsif ( @count = 5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                        <% end %> 
                     </div>
                     <h6><span>Starring:</span>Soha Ali Khan, Vir Das, Lakha Lakhwinder Singh, Pritam Kagne</h6>
                     <h6><span>Director:</span>Shivaji Lotan Patil</h6>
                  </div>
               </div>
            </li>
            <% end %>
         </ul>
         <div class="ndmv-pagination">
           <%= paginate @movies %>
         </div>
      </div>
      <div class="ndmv-right-wrapper col-md-4 col-sm-4" >
         <div class="ndmv-celeb-filter-wrapper">
         </div>
         <div class="ndmv-ad-wrapper" id="scroller">
            <h3>Movie you may like</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Genre</th>
                  </tr>
                </thead>
                <tbody>
                  <% @random_movies.each do |rdmovie| %>
                     <tr class="success">
                       <td><%= link_to rdmovie.name, movie_path(rdmovie) %></td>
                       <td><%= rdmovie.name %></td>
                     </tr>
                  <% end %>
                </tbody>
              </table>
         </div>
      </div>
   </div>
</div>
</body>
<!-- Mirrored from movies.ndtv.com/movie-reviews/bollywood by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 22 Oct 2016 07:50:26 GMT -->
</html>

