<script type="text/javascript" src="http://movies.ndtv.com/static/js/ndtv.min.js?v=20160928"></script>
<div class="container ndmv-main-container">
   <div class="row">
      <div class="ndmv-left-wrapper col-md-12 col-sm-12">
         <div class="ndmv-celeb-filter-wrapper">
         </div>
         <h3>Newest Movie</h3>
         <ul class="ndmv-celeb-list">
            <% @movies.each do |movie| %>
            <li>
               <div class="ndmv-celeb-blk ndmv-greybg">
                  <div class="ndmv-common-img-wrapper"><%= image_tag movie.image %></div>
                  <div class="ndmv-review-title">
                     <h4><%= link_to movie.name, movie_path(movie.id) %></a></h4>
                     <h5>Hindi / 
                        <% movie.genres.each do |genre| %>
                        <%= genre.name %>
                        <% end %>
                     </h5>
                     <div class="ndmv-movie-rating"><span class="rating-full"></span><span class="rating-full"></span><span class="rating-half"></span><span class="rating-null"></span><span class="rating-null"></span></div>
                     <h6><span>Starring:</span>Soha Ali Khan, Vir Das, Lakha Lakhwinder Singh, Pritam Kagne</h6>
                     <h6><span>Director:</span>Shivaji Lotan Patil</h6>
                  </div>
               </div>
            </li>
            <% end %>
         </ul>
         <div class="ndmv-pagination">
           <%= paginate @movies %>
         </div>
      </div>
      <div class="ndmv-right-wrapper col-md-4 col-sm-4" >
         <div class="ndmv-celeb-filter-wrapper">
         </div>
         <div class="ndmv-ad-wrapper" id="scroller">
            <h3>Movie you may like</h3>
            <div class="ndmv-celeb-list">
            <% @random_movies.each do |rdmovie| %>
            <div>
               <div class="ndmv-celeb-blk ndmv-greybg">
                  <div class="ndmv-common-img-wrapper"><%= image_tag rdmovie.image %></div>
                  <div class="ndmv-review-title">
                     <h4><%= link_to rdmovie.name, movie_path(rdmovie.id) %></a></h4>
                     <h5>Hindi / 
                        <% rdmovie.genres.each do |genre| %>
                        <%= genre.name %>
                        <% end %>
                     </h5>
                     <div class="ndmv-movie-rating"><span class="rating-full"></span><span class="rating-full"></span><span class="rating-half"></span><span class="rating-null"></span><span class="rating-null"></span></div>
                     <h6><span>Starring:</span>Soha Ali Khan, Vir Das, Lakha Lakhwinder Singh, Pritam Kagne</h6>
                     <h6><span>Director:</span>Shivaji Lotan Patil</h6>
                  </div>
               </div>
            </div>
            <% end %>
         </div>
         </div>
      </div>
   </div>
   <div id="footer-ads" style="box-sizing: border-box;float: left;margin: 0 0 20px;width: 100%;">
      <div style=" margin: 0px auto; min-height: 90px; min-width: 970px;">
         <div style=" text-align: center; width:100%;">
            <div id='div-gpt-ad-1470723615614-3'>
               <script>if(screen.width > 767){googletag.cmd.push(function() { googletag.display('div-gpt-ad-1470723615614-3'); });}</script>
            </div>
         </div>
      </div>
   </div>
</div>
</body>
<!-- Mirrored from movies.ndtv.com/movie-reviews/bollywood by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 22 Oct 2016 07:50:26 GMT -->
</html>

