<div class="container"></div>
<script type="text/javascript" src="http://movies.ndtv.com/static/js/ndtv.min.js?v=20160928"></script>
<section class="ndmv-celeb-detail-breadcrumb">
   <div class="container">
      <div class="ndmv-celeb-detail-bread ndmv-review-breadcrumb">
         <a href="#">Movie Reviews</a>
         <h1 itemprop="headline" class='item'><%= @movie.name %></h1>
         <div class="ndmv-datetime reviewer"><span><a class="fn" href="#">Admin</a> &nbsp;&nbsp;|  
            <span class='dtreviewed'><%= @movie.created_at %></span></span>
         </div>
      </div>
     <!--  <div class="ndmv-review-breadcrumb-rating" >
         <span class="rating" style='display:none;'>2.5</span>
         <h4>Rating:</h4>
         <div class="ndmv-movie-rating"><span class="rating-full"></span><span class="rating-full"></span><span class="rating-half"></span><span class="rating-null"></span><span class="rating-null"></span></div>
      </div> -->
      <div class="ndmv-review-breadcrumb-rating" >
        <span class="rating" style='display:none;'></span>
        <h4>Rating: <%= @count = @movie.rates.average :vote  %> /5.0</h4>
        <h4>Have <%= @movie.rates.count %> votes</h4>
        <% if @count.nil? %>
          <div class="ndmv-movie-rating">
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
          </div>
        <% elsif (@count < 0.5) %>
          <div class="ndmv-movie-rating">
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
          </div>
        <% elsif (0.5 <= @count && @count < 1) %>
          <div class="ndmv-movie-rating">
            <span class="rating-half"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
          </div>
        <% elsif (1 <= @count && @count < 1.5) %>
          <div class="ndmv-movie-rating">
            <span class="rating-full"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
          </div>
        <% elsif (1.5 <= @count && @count < 2) %>
          <div class="ndmv-movie-rating">
            <span class="rating-full"></span>
            <span class="rating-half"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
          </div>
          <% elsif (2 <= @count && @count < 2.5) %>
          <div class="ndmv-movie-rating">
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
          </div>
        <% elsif (2.5 <= @count && @count < 3) %>
          <div class="ndmv-movie-rating">
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-half"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
          </div>
         <% elsif (3 <= @count && @count < 3.5) %>
          <div class="ndmv-movie-rating">
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-null"></span>
            <span class="rating-null"></span>
          </div>
        <% elsif (3.5 <= @count && @count < 4) %>
          <div class="ndmv-movie-rating">
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-half"></span>
            <span class="rating-null"></span>
          </div>
        <% elsif (4 <= @count && @count < 4.5) %>
          <div class="ndmv-movie-rating">
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-null"></span>
          </div>
        <% elsif (4.5 <= @count && @count < 5) %>
          <div class="ndmv-movie-rating">
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-half"></span>
          </div>
        <% elsif ( @count = 5) %>
          <div class="ndmv-movie-rating">
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-full"></span>
            <span class="rating-full"></span>
          </div>
        <% end %>  
      </div>
   </div>
</section>
<div class="container ndmv-main-container" style="position: relative;">
   <div class="row">
      <div class="ndmv-left-wrapper col-md-12 col-sm-12">
        <br>
        <br>
         <style type="text/css">
            .ndmv-review-detail img{
            max-width: 100%;min-width: 100%;
            }
         </style>
         <div class="row ndmv-review-detail-row">
            <div class="col-md-6">
               <div class="ndmv-common-img-wrapper">
                  <%= image_tag @movie.image %>
               </div>
            </div>
            <div class="col-md-10">
               <div class="ndmv-celeb-profile ndmv-movie-cast">
                  <ul>
                     <li>
                        <div class="ndmv-celeb-label">Genre:</div>
                        <div class="ndmv-celeb-detail">
                           <% @movie.genres.each do |genre| %>
                           <%= genre.name %>
                           <% end %>
                        </div>
                     </li>
                     <li>
                        <div class="ndmv-celeb-label">Cast:</div>
                        <div class="ndmv-celeb-detail"><%= @movie.actor %></div>
                     </li>
                     <li>
                        <div class="ndmv-celeb-label">Year:</div>
                        <div class="ndmv-celeb-detail"><%= @movie.year %></div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="row ndmv-celeb-detail-info ndmv-review-detail">
            <div class="col-md-16">
               <p>
                  <b>REVIEW CONTENT</b>
                  <p>
                    <%= @movie.content.html_safe %>
                   </p>
               </p>    
            </div>
         </div>
         <div>
           <div class="clearfix"></div>
           <% if user_signed_in? %>
           <p>
            <% unless current_user.has_voted @movie %>
            <b>RATE THIS MOVIE</b>
               <% @votes.each do |key, value| %>
                 <%= render "shared/rate_form", key: key %>
               <% end %>
             <% end %>
           </p>
           <P>
              <b>COMMENT</b>
           </P>
             <%= render 'shared/comment_form', movie: @movie %>
           <% end %>
           <div id="comments_<%= @movie.id %>">
             <% if @movie.comments.any? %>
               <%= render @movie.comments, movie: @movie %>
             <%end%>
           </div>
         </div>
         <!--  adblocker taboola -->
      </div>
      <div class="ndmv-right-wrapper col-md-4 col-sm-4" style="top: 0;">
        <ul class="ndmv-celeb-list">
            <li style="width: 100%; margin-top: 20px;">
              <h4>Same Genre Movie</h4>
                <div class="ndmv-celeb-blk ndmv-greybg">
                  <div class="ndmv-common-img-wrapper"><%= image_tag @same_genre_movie.image %></div>
                  <div class="ndmv-review-title">
                     <h4><%= link_to @same_genre_movie.name, movie_path(@same_genre_movie.id) %></h4>
                     <h5>
                        <% @same_genre_movie.genres.each do |genre| %>
                        <%= genre.name %>
                        <% end %>
                     </h5>
                     <% @count = @same_genre_movie.rates.average :vote %>
                     <div class="ndmv-movie-rating">
                         <% if @count.nil? %>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (@count < 0.5) %>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (0.5 <= @count && @count < 1) %>
                            <span class="rating-half"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (1 <= @count && @count < 1.5) %>
                            <span class="rating-full"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (1.5 <= @count && @count < 2) %>
                            <span class="rating-full"></span>
                            <span class="rating-half"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                          <% elsif (2 <= @count && @count < 2.5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (2.5 <= @count && @count < 3) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-half"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                         <% elsif (3 <= @count && @count < 3.5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-null"></span>
                            <span class="rating-null"></span>
                        <% elsif (3.5 <= @count && @count < 4) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-half"></span>
                            <span class="rating-null"></span>
                        <% elsif (4 <= @count && @count < 4.5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-null"></span>
                        <% elsif (4.5 <= @count && @count < 5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-half"></span>
                        <% elsif ( @count = 5) %>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                            <span class="rating-full"></span>
                        <% end %> 
                     </div>
                     <h6><span>Starring:</span>Soha Ali Khan, Vir Das, Lakha Lakhwinder Singh, Pritam Kagne</h6>
                     <h6><span>Director:</span>Shivaji Lotan Patil</h6>
                  </div>
                </div>
            </li>
         </ul>
      </div>
   </div>
</div>
