<table width="100%">
  <tr>
    <th><%= :name %></th>
    <th><%= :email %></th>
    <th><%= :age %></th>
    <th><%= :phone_number %></th>
  </tr>
  <tr>
    <td><%=  @customer.user_name %></td>
    <td><%=  @customer.email %></td>
    <td><%=  @customer.age %></td>
    <td><%=  @customer.phone_number %></td>
  </tr>
</table>
