<div class="container">
   <section style="padding-bottom: 50px; padding-top: 50px;">
      <div class="row">
         <div class="col-md-4 alert alert-info">
            <div id="image_size">
               <%= image_tag @user.avatar %>
            </div>
            <br />
            <br />
            <label>Email:  <%= @user.email %></label>
            <br>
            <label>User Name:  <%= @user.user_name %></label>
            <br>
            <label>Age:  <%= @user.age %></label>
            <br>
            <label>Phone Number: <%= @user.phone_number %></label>
            <br>
            <div>
               <%= render 'shared/stats' %>
               <%= render 'follow_form' if user_signed_in? %>
            </div>
            <br/><br/>
         </div>
         <div class="col-md-12">
            <div>
               <script type="text/javascript" src="http://movies.ndtv.com/static/js/ndtv.min.js?v=20160928"></script>
               <% if user_signed_in? %>
                 <%= render 'rated_form' %>
               <% else %>
                 <h3>You must create account and follow to see this user's bookmarked film</h3>
               <% end %>
            </div>
         </div>
      </div>
      <!-- ROW END -->
   </section>
   <!-- SECTION END -->
</div>

