<table width="100%">
  <tr style="line-height: 30px">
    <th><%= :name %></th>
    <th style="text-align: right;"><%= t :action %></th>
  </tr>
  <% @genres.each do |genre| %>
    <tr style="line-height: 30px">
      <td><%= link_to genre.name, "#" %></td>
      <td style="text-align: right;">
        <%= link_to "", edit_admin_genre_path(genre), 
          class: "glyphicon glyphicon-edit" %>
        <%= link_to "", admin_genre_path(genre),
          method: :delete, data: {confirm: t("flash.confirm")}, 
          class: "glyphicon glyphicon-trash" %>
      </td>
    </tr>
  <% end %>
</table>
