<% provide :title, t("movie.index") %>
<h3><%= t "movie.index" %></h3>
<%= search_form_for @search, url: admin_movies_path do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <div><%= link_to_add_fields t("movie.add_condition"), 
    f, :condition %></div>
  <div class="actions" style="width: 120px; float: right; margin-top: 25px; margin-right: -80px;"><%= f.submit t("movie.search"), 
    class: "btn btn-primary" %></div>
<% end %>

<table id="table_wrapper" >
  <tr style="line-height: 30px; size: 5px;">
    <th><%= sort_link @search, :name, t("table.name") %></th>
    <th><%= sort_link @search, :movie_genre, t("table.description") %></th>
    <th style="text-align: right; "><%= t :action %></th>
  </tr>
  <% @movies.each do |movie| %>
    <tr style="line-height: 40px;">
      <td><%= link_to movie.name, admin_movie_path(movie) %></td>
      <td>
        <% movie.genres.each do |genre| %>
          <%= genre.name %>
        <% end %>
      </td>
      <td style="text-align: right;">
        <%= link_to "", edit_admin_movie_path(movie), 
          class: "glyphicon glyphicon-edit" %>
        <%= link_to "", admin_movie_path(movie),
          method: :delete, data: {confirm: t("flash.confirm")}, 
          class: "glyphicon glyphicon-trash" %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @movies %>
