<div class="col-lg-3 col-md-6 col-md-offset-3">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="row">
            <div class="col-xs-3">
               <i class="fa fa-user fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
               <div class="huge"><%= User.count %></div>
               <div>Users</div>
            </div>
         </div>
      </div>
      <a href="#">
         <div class="panel-footer">
            <span class="pull-left"><%= link_to "View Details", admin_users_path%></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
         </div>
      </a>
   </div>
</div>
<div class="col-lg-3 col-md-6">
   <div class="panel panel-success">
      <div class="panel-heading">
         <div class="row">
            <div class="col-xs-3">
               <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
               <div class="huge"><%= Genre.count %></div>
               <div>Genres</div>
            </div>
         </div>
      </div>
      <a href="#">
         <div class="panel-footer">
            <span class="pull-left"><%= link_to "View Details", admin_genres_path%></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
         </div>
      </a>
   </div>
</div>
<div class="col-lg-3 col-md-6">
   <div class="panel panel-danger">
      <div class="panel-heading">
         <div class="row">
            <div class="col-xs-3">
               <i class="fa fa-film fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
               <div class="huge"><%= Movie.count %></div>
               <div>Movies</div>
            </div>
         </div>
      </div>
      <a href="#">
         <div class="panel-footer">
            <span class="pull-left"><%= link_to "View Details", admin_movies_path%></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
         </div>
      </a>
   </div>
</div>
