<% provide :title, t("user.index") %>
<h3><%= t "user.index" %></h3>
<%= search_form_for @search, url: admin_users_path do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <div><%= link_to_add_fields t("user.add_condition"), 
    f, :condition %>
  </div>
  <div class="action" style="width: 120px; float: right; margin-top: 25px; margin-right: -80px;"><%= f.submit t("user.search"), 
    class: "btn btn-primary" %></div>
<% end %>

<table id="table_wrapper">
  <tr style="line-height: 30px;">
    <th><%= sort_link @search, :user_name, t("table.name") %></th>
    <th style="text-align: right;"><%= t :action %></th>
  </tr>
  <% @users.each do |user| %>
    <tr style="line-height: 30px;">
      <td><%= link_to user.user_name, admin_user_path(user) %></td>
      <td style= "text-align: right;">
        <%= link_to "", edit_admin_user_path(user), 
          class: "glyphicon glyphicon-edit" %>
        <%= link_to "", admin_user_path(user),
          method: :delete, data: {confirm: t("flash.confirm")}, 
          class: "glyphicon glyphicon-trash" %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @users %>
