<!-- <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag "logo.jpeg", class: "header-img" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to t("static_pages.about"), about_path %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to t("users.edit"), edit_user_registration_path %>
          </li>
          <li>
            <%= link_to t("users.profile"), user_path(current_user) %>
          </li>
          <li>
            <%= link_to t("users.logout"), destroy_user_session_path,
              method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to t("users.login"), new_user_session_path %>
          </li>
          <li>
            <%= link_to t("users.signup"), new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
 -->
 <script type="text/javascript" src="http://movies.ndtv.com/static/js/ndtv.min.js?v=20160928"></script>
 <body class="inner-bg" onload="loaded();">
      <header id="inkmob-header" class="inkmob-header">
         <div class="ndmv-topnav-component">
            <div class="container">
              <div class="row">
                <% if user_signed_in? %>
                  <nav class="ndmv-top-navigation">
                    <%= link_to t("users.logout"), destroy_user_session_path,
                      method: :delete %>
                  </nav>
                  <nav class="ndmv-top-navigation">
                    <%= link_to t("users.profile"), user_path(current_user) %>
                  </nav>
                  <nav class="ndmv-top-navigation">
                    <%= link_to t("users.edit"), edit_user_registration_path %>
                  </nav>
                  <nav class="ndmv-top-navigation">
                    <%= link_to t("Bookmark"), bookmarks_path %>
                  </nav>
                <% else %>
                  <nav class="ndmv-top-navigation">
                    <%= link_to t("users.signup"), new_user_registration_path %>
                  </nav>
                  <nav class="ndmv-top-navigation">
                    <%= link_to t("users.login"), new_user_session_path %>
                  </nav>
                <% end %>
                <nav class="ndmv-top-navigation">
                  <%= link_to t("static_pages.about"), about_path %>
                </nav>
              </div>
            </div>
         </div>
         <div class="ndmv-logobanner-component">
            <div class="container">
               <div class="row">
                  <div class="col-md-3 col-sm-3">
                     <div class="ndmv-logo"><img alt="NDTV Movies" src="/assets/movies_logo.png" /></a></div>
                  </div>
                  <div class="col-md-9 col-sm-9" >
                     <div class="ndmv-logobanner" id="header_ad" style='height:100px;'>
                        <div id='div-gpt-ad-1470723615614-0' style='height:90px; width:728px;'>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="ndmv-primary-menu">
            <div class="container">
               <div class="row ndmv-special-nav" id="head" style="height:60px;">
                  <div class="inkmob-mobnav">
                     <div id="inkmob-toggle" type="button" class="inkmob-toggle">
                        <span class="icon-bar"></span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                     <div class="ndmv-search-wrap">
                        <form autocomplete="on" onsubmit="return searchMe('mobile');"><input name="qm" id="search_text_m" type="text" placeholder="Search..."><i class="icon-search" onclick="javascript:searchMe('mobile');"></i></form>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <div id="inkmob-nav-wrapper" class="inkmob-nav-wrapper"></div>
                     <div id="inkmob-nav-inner" class="inkmob-nav-inner">
                        <div id="scroller">
                           <ul id="inkmob-nav" class="inkmob-nav">
                              <a href="#" class="inkmob-arrow"></a><a class="icon-home-outline" href="http://localhost:3000">Home</a>
                              <% @genres.each do |genre| %>
                                <li>
                                   <%= link_to genre.name, genre_path(genre) %>
                                </li>
                              <% end %>
                              <li><a  class="cls-ndtv" href="#" >REVIEW MOVIES</a></li>
                              <!-- <li><a  class="" href="http://movies.ndtv.com/cannes" >Cannes</a></li><li><a class="web-ndtv" href="http://movies.ndtv.com/oscars">Oscars</a></li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="ndmv-searchblock">
                        <div class="ndmv-defaultsearch">
                           <div class="ndmv-searchbox">
                              <%= search_form_for @search, url: searchs_path,
                                html: {class: "navbar-form", role: "form"} do |f| %>
                                <div>
                                  <div class="col-md-2">
                                    <%= f.select :genres_id_eq,
                                      options_from_collection_for_select(@genres, "id", "name",
                                      @search.genres_id_eq), {include_blank: "Genre"},
                                      {class: "form-control"} %>
                                  </div>
                                  <div class="col-md-2 col-md-offset-1">
                                    <%= f.select :year_eq,
                                      options_for_select(@years, @search.year_eq), {include_blank: "Year"},
                                      {class: "form-control"} %>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="col-md-16">
                                      <%= f.text_field :name_cont, placeholder: "Movie Name",
                                        class: "form-control" %>
                                      <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                        <i class="fa fa-search"></i>
                                      <% end %>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
